<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800961532828-mbl2fpui0uk6lauq3hlas0gj6c7o91iu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800961532828-mbl2fpui0uk6lauq3hlas0gj6c7o91iu</string>
	<key>API_KEY</key>
	<string>AIzaSyBBbeLoTNQ0Ti680wWje0qZXtMjhEdBx08</string>
	<key>GCM_SENDER_ID</key>
	<string>800961532828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inoutapp</string>
	<key>PROJECT_ID</key>
	<string>input-output-26476</string>
	<key>STORAGE_BUCKET</key>
	<string>input-output-26476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800961532828:ios:98f8f243be2d748e3d2e59</string>
	<key>DATABASE_URL</key>
	<string>https://input-output-26476.firebaseio.com</string>
</dict>
</plist>